<ion-header>
  <ion-navbar color="user">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div style="height: 400px; width: 100%;" id="map"></div>
    <h3>{{event.description}}</h3>

    <div>
        <ion-card *ngFor="let c of comments">
        <ion-card-content>
            <p>{{ c.comment }}</p>
            <h5>{{ c.user }}</h5>
        </ion-card-content>
        </ion-card>
    </div>
</ion-content>