<ion-content style="background: url(assets/imgs/Zapatos.jpg) center; background-size: cover;" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="http://cdn.onlinewebfonts.com/svg/img_311846.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="logIn()">
      <ion-row>
        <ion-col>
          <ion-list inset >
            <ion-item no-lines class="item item-trns">
              <ion-label floating>Username</ion-label>
              <ion-input type="text" name="username" [(ngModel)]="user.username" required></ion-input>
            </ion-item>
            <ion-item no-lines class="item item-trns">
              <ion-label floating>Password</ion-label>
              <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>
            <ion-item no-lines class="item item-trns">
              <button ion-button block full [disabled]="btnDisabled" type="submit" color="danger">Iniciar Sesión</button>
            </ion-item>
            <ion-item  no-lines class="item item-trns">
              <button ion-button block clear (click)="createAccount()" type="button">Crear Nueva Cuenta</button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
