<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mensajería</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let m of messages">
    <ion-card-content>
      <ion-card-title>
      {{ m.subject }}
      </ion-card-title>
      <p>{{ m.message }}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="sendMessage(id)">
      <ion-icon name="md-send"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
