<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Crear Cuenta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background: url(assets/imgs/Zapatos.jpg) center; background-size: cover;" padding>
  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <form (ngSubmit)="createAccount()">
            <ion-item no-lines class="item item-trns">
              <ion-label floating>Username</ion-label>
              <ion-input type="text" name="username" [(ngModel)]="user.username" required></ion-input>
            </ion-item>
            <ion-item no-lines class="item item-trns">
              <ion-label floating>Email</ion-label>
              <ion-input type="text" name="email" [(ngModel)]="user.email" required></ion-input>
            </ion-item>
            <ion-item no-lines class="item item-trns">
              <ion-label floating>Password</ion-label>
              <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>
            <ion-item no-lines class="item item-trns">
              <ion-label floating>Password</ion-label>
              <ion-input type="password" name="password_repeat" [(ngModel)]="user.password_repeat" required></ion-input>
            </ion-item>
            <ion-item no-lines class="item item-trns">
              <ion-label floating>Usuario Proveedor</ion-label>
              <ion-select name="usuario" [(ngModel)]="user.usuario">
                <ion-option  *ngFor="let u of users" value="{{u.id}}">{{u.firstname}} {{u.lastname}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines class="item item-trns">
              <ion-label>Al registrarse, usted acepta nuestros Términos.</ion-label>
              <ion-checkbox [(ngModel)]="user.accept" name="checkbox-signup" required></ion-checkbox>
            </ion-item>
            <ion-item no-lines class="item item-trns">
              <button ion-button block full [disabled]="btnDisabled" type="submit" color="danger">Crear Nueva Cuenta</button>
            </ion-item>
            </form>
          </ion-list>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

