<ion-header>
  <ion-navbar color="admin">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div style="height: 300px; width: 100%;" id="map"></div>
    <h3>{{event.description}}</h3>
</ion-content>