<ion-header>
    <ion-navbar color="danger">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Eventos</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <!--COMENTARIO-->
  <form (ngSubmit)="insert()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Comentario</ion-label>
            <ion-textarea type="text"
            [(ngModel)]="comment.comment" name="comment" required>
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button full color="primary" type="submit">
          Guardar
        </button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>