<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div style="height: 300px; width: 100%;" id="map"></div>
    <h3>{{event.description}}</h3>
    <ion-list>      
        <button [disabled]="changeAssistants" menuClose ion-item (click)="assist()">
            <ion-icon name="md-calendar" item-start></ion-icon>
            Asistiré
        </button>
        <button [disabled]="changeInterested" menuClose ion-item (click)="interested()">
            <ion-icon name="md-heart" item-start></ion-icon>
            Me Interesa
        </button>
    </ion-list>

    <div>
        <ion-card *ngFor="let c of comments">
        <ion-card-content>
            <p>{{ c.comment }}</p>
            <h5>{{ c.user }}</h5>
        </ion-card-content>
        </ion-card>
    </div>

    <ion-fab right bottom>
        <button ion-fab (click)="openPage(event.id)">
            <ion-icon name="md-create"></ion-icon>
        </button>
    </ion-fab>
</ion-content>

