<ion-header>
  <ion-navbar color="user">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Productos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="{{product.picture}}">
	<div class="news-item" padding="">
		<h2>{{product.name}}</h2>
    <p>{{product.description}}</p>
  </div>

  <div>
    <ion-card *ngFor="let c of comments">
      <ion-card-content>
        <p>{{ c.comment }}</p>
        <h5>{{ c.user }}</h5>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>