<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let e of events">
    <img src="{{e.picture}}">
      <ion-fab right>
      <button ion-fab top (click)="viewMore(e.id)">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>
            
    <ion-item>
      <h2>{{e.place}}</h2>
      <p>{{e.description}}</p>
    </ion-item>
  </ion-card>
</ion-content>