<ion-header>
  <ion-navbar color="user">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-card (click)="seeProducts(c.id)" *ngFor="let c of categorys">
        <img src="../../../assets/imgs/Category.jpg"/>
        <div class="card-title">{{ c.name }}</div>
        <div class="card-subtitle">{{ c.description }}</div>
    </ion-card>
</ion-content>