<ion-header>
  <ion-navbar color="danger">
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <!--CONTRASEÑA ANTIGUA-->
          <ion-item>
            <ion-label floating>Contraseña Actual</ion-label>
            <ion-input type="password"
            [(ngModel)]="changePassword.old_pass" name="old_pass">
            </ion-input>
          </ion-item>
          <!--CONTRASEÑA NUEVA-->
          <ion-item>
            <ion-label floating>Contraseña Nueva</ion-label>
            <ion-input type="password"
            [(ngModel)]="changePassword.new_pass" name="new_pass">
            </ion-input>
          </ion-item>
          <!--CONFIRMAR CONTRASEÑA NUEVA-->
          <ion-item>
            <ion-label floating>Confirmar Contraseña</ion-label>
            <ion-input type="password"
            [(ngModel)]="changePassword.new_pass_rep" name="new_pass_rep" >
            </ion-input>
          </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary" (click)="updatePassword()">
        Guardar
      </button>
    </ion-row>
  </ion-grid>
</ion-content>