<ion-header>
  <ion-navbar color="user">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mensajería</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <button ion-item  *ngFor="let m of messages" (click)="messagesClientUser(m.id)">
      <ion-icon name="md-contact" item-start></ion-icon>
      {{ m.user }}
    </button>
    </ion-list>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="sendMessage()">
      <ion-icon name="md-send"></ion-icon>
    </button>
  </ion-fab>

</ion-content>