<ion-header>
  <ion-navbar color="admin">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Productos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let p of products" >
        <img style="height: 60%;" src="{{p.picture}}"/>
        <ion-card-content>
            <ion-card-title>
            {{p.name}}
            </ion-card-title>
            <p>
            {{p.description}}
            </p>
        </ion-card-content>
        <ion-list>
            <button ion-item (click)="viewFormUpdate(p.id)">
            <ion-icon name="md-refresh" item-start></ion-icon>
            Actualizar
            </button>
            <button ion-item (click)="delete(p.id)">
            <ion-icon name="md-trash" item-start></ion-icon>
            Eliminar
            </button>
            <button ion-item (click)="seeMore(p.id)">
            <ion-icon name="md-more" item-start></ion-icon>
            Ver Más
            </button>
        </ion-list>
    </ion-card>

    <ion-fab right bottom>
        <button ion-fab (click)="viewForm()">
            <ion-icon name="md-add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>