<ion-header>
  <ion-navbar color="user">
    <ion-title>Editar Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form (ngSubmit)="update()">
    <ion-row>
      <ion-col>
        <ion-list>
          <!-- IMAGEN DEL PERFIL-->
          <ion-row class="logo-row">
            <ion-col></ion-col>
            <ion-col width-67>
            <img src="{{profile.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;"/>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
          <!--IMAGEN-->
          <ion-item>
            <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
          </ion-item>
          <!-- NICK DEL USUARIO -->
          <ion-item>
            <ion-label floating>Nombre de Usuario</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.username" name="username">
            </ion-input>
          </ion-item>
          <!--CORREO ELECTRONICO -->
          <ion-item>
            <ion-label floating>Correo Electrónico</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.email" name="email">
            </ion-input>
          </ion-item>
          <!-- NOMBRE DEL USUARIO -->
          <ion-item>
            <ion-label floating>Nombres</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.firstname" name="firstname">
            </ion-input>
          </ion-item>
          <!-- APELLIDOS -->
          <ion-item>
            <ion-label floating>Apellidos</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.lastname" name="lastname">
            </ion-input>
          </ion-item>
          <!-- DESCRIPCION -->
          <ion-item>
            <ion-label floating>Descripción</ion-label>
            <ion-textarea type="text"
            [(ngModel)]="profileUpdate.description" name="description">
            </ion-textarea>
          </ion-item>
          <!-- EDAD -->
          <ion-item>
            <ion-label floating>Edad</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.age" name="age">
            </ion-input>
          </ion-item>
          <!-- CUMPLEAÑOS -->
          <ion-item>
            <ion-label floating>Fecha de Nacimiento</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY"
            [(ngModel)]="profileUpdate.birthday" name="birthday">
            </ion-datetime>
          </ion-item>
          <!-- TELEFONO -->
          <ion-item>
            <ion-label floating>No. Teléfono</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.phone" name="phone">
            </ion-input>
          </ion-item>
          <!--TRABAJO -->
          <ion-item>
            <ion-label floating>Trabajo</ion-label>
            <ion-input type="text"
            [(ngModel)]="profileUpdate.work" name="work">
            </ion-input>
          </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary" type="submit" >
      Guardar
      </button>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>