<ion-header>
  <ion-navbar color="admin">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <!--NOMBRE-->
          <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input type="text"
            [(ngModel)]="product.name" name="name">
            </ion-input>
          </ion-item>
          <!--DESCRIPCION-->
          <ion-item>
            <ion-label floating>Descripción</ion-label>
            <ion-textarea type="text"
            [(ngModel)]="product.description" name="description">
            </ion-textarea>
          </ion-item>
          <!--PRECIO-->
          <ion-item>
            <ion-label floating>Precio</ion-label>
            <ion-input type="text"
            [(ngModel)]="product.price" name="price" >
            </ion-input>
          </ion-item>
          <!--CANTIDAD-->
          <ion-item>
            <ion-label floating>Cantidad</ion-label>
            <ion-input type="text"
            [(ngModel)]="product.quantity" name="quantity">
            </ion-input>
          </ion-item>
          <!--COSTO-->
          <ion-item>
            <ion-label floating>Costo</ion-label>
            <ion-input type="text"
            [(ngModel)]="product.cost" name="cost"
            ></ion-input>
          </ion-item>
          <!--USUARIO-->
          <ion-item>
            <ion-label>Usuario</ion-label>
            <ion-select [(ngModel)]="product.user_created">
                <ion-option  *ngFor="let u of users" value="{{u.id}}">{{u.firstname}} {{u.lastname}}</ion-option>
            </ion-select>
          </ion-item>
          <!--CATEGORIA-->
          <ion-item>
            <ion-label>Categoría</ion-label>
            <ion-select [(ngModel)]="product.category">
                <ion-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary" (click)="insert()">
        Guardar
      </button>
    </ion-row>
  </ion-grid>
</ion-content>