<ion-header>
  <ion-navbar color="user">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>


  <ion-content>
    <ion-grid>
        <ion-row col-md-12>
          <ion-col col-md-3 *ngFor="let e of events">
            <ion-card>
              <img src="{{e.picture}}">
              <ion-fab right>
                <button ion-fab top (click)="viewMore(e.id)">
                  <ion-icon name="pin"></ion-icon>
                </button>
              </ion-fab>
            
              <ion-item>
                <h2>{{e.place}}</h2>
                <p>{{e.description}}</p>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    <ion-fab right bottom>
      <button ion-fab (click)="viewForm()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>