<ion-menu cache-view="false" [content]="content">
    <ion-header>
      <ion-toolbar color="user">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
        <button menuClose ion-item (click)="logOut()">
          <ion-icon name="ios-close" item-start></ion-icon>
          Cerrar Sesión
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>