<ion-header>
    <ion-navbar color="admin">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <div style="height: 300px; width: 100%;" id="map"></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <!--VISUALIZAR-->
          <ion-row class="logo-row" *ngIf="event.picture!=null">
            <ion-col></ion-col>
            <ion-col width-67>
            <img src="{{event.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;"/>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
          <!--IMAGEN-->
          <ion-item>
              <input type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
          </ion-item>
          <!--Direccion-->
          <ion-item>
            <ion-label floating>Lugar</ion-label>
            <ion-input type="text" [(ngModel)]="event.place" name="place">
            </ion-input>
          </ion-item>
          <!--Direccion-->
          <ion-item>
            <ion-label floating>Dirección</ion-label>
            <ion-input type="text" [(ngModel)]="event.address" name="address">
            </ion-input>
          </ion-item>
          <!--DESCRIPCION-->
          <ion-item>
            <ion-label floating>Descripción</ion-label>
            <ion-textarea type="text" [(ngModel)]="event.description" name="description">
            </ion-textarea>
          </ion-item>
          <!--FECHA-->
          <ion-item>
            <ion-label floating>Fecha</ion-label>
            <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" [(ngModel)]="event.date" name="date"></ion-datetime>
          </ion-item>
          <!--HORA-->
          <ion-item>
            <ion-label floating>Hora</ion-label>
            <ion-datetime displayFormat="h:mm:ss" pickerFormat="h mm ss" [(ngModel)]="event.time" name="time"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button full color="primary" (click)="update()">
        Guardar
        </button>
      </ion-row>
    </ion-grid>
    
  </ion-content>