<ion-header>
    <ion-navbar color="user">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Productos</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--Asunto-->
        <ion-item>
            <ion-label floating>Asunto</ion-label>
            <ion-input type="text"
            [(ngModel)]="message.subject" name="subject">
            </ion-input>
          </ion-item>
        <!--Mensaje-->
        <ion-item>
          <ion-label floating>Mensaje</ion-label>
          <ion-textarea type="text"
          [(ngModel)]="message.message" name="message">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="primary" (click)="sendMessage()">
        Enviar Mensaje <ion-icon name="md-send"></ion-icon>
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
