<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <!--NOMBRE-->
            <ion-item>
              <ion-label floating>Nombre</ion-label>
              <ion-input type="text"
              [(ngModel)]="product" name="name">
              </ion-input>
            </ion-item>
            <!--DESCRIPCION-->
            <ion-item>
              <ion-label floating>Comentario</ion-label>
              <ion-textarea type="text"
              [(ngModel)]="order.comment" name="comment">
              </ion-textarea>
            </ion-item>
            <!--PRECIO-->
            <ion-item>
              <ion-label floating>Precio por Unidad</ion-label>
              <ion-input type="text"
              [(ngModel)]="order.unit_price" name="unit_price" >
              </ion-input>
            </ion-item>
            <!--CANTIDAD-->
            <ion-item>
              <ion-label floating>Cantidad</ion-label>
              <ion-input type="text"
              [(ngModel)]="order.quantity" name="quantity">
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button full color="primary" (click)="insert()">
          Guardar
        </button>
      </ion-row>
    </ion-grid>
  </ion-content>