<ion-header>
  <ion-navbar color="user">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let o of orders">
    <ion-card-content>
      <ion-card-title>
        Orden No. {{ o.id }}
      </ion-card-title>
      <p>{{ o.comment }}</p>
      <h5>Precio U: Q {{ o.unit_price }}</h5>
      <h5>Cantidad: {{ o.quantity }}</h5>
      <h3>Total:  {{ o.total }}</h3>
    </ion-card-content>
  </ion-card>
</ion-content>